# Elixir
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# Rust / Rustler
/native/moqx/target/
/priv/native/

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.swo
